<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Деталі тесту</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Controller/attempt_review_controller.js"></script>
</head>
<body>
<button id="back-button" onclick="window.location.href='view_results.html'">Назад</button>
<h1 id="test-title"></h1>
<h2 id="user-name"></h2>
<div id="test-content">
    <!-- Here the questions and answers will be displayed -->
</div>
</body>
</html>
