<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створення тесту</title>
    <link rel="stylesheet" href="../../CSS/style_create_question.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../Controller/test/create_test_controller.php"></script>
</head>
<body>
<div class="edit-container">
    <h1>Редагування тесту</h1>
    <form id="test-form" method="post">

        <button type="submit" id="save-test">Зберегти</button>
    </form>
    <form action="main/main_admin.php" method="post">
        <button type="submit">Головне меню</button>
    </form>
</div>
</body>
</html>
